In [26]:
import nba_py
import datetime
import nba_py.game

today = datetime.date.today()
someday = datetime.date(2017, 1, 1)

def get_games(date):
    '''
    return a pandas.Series of all the games available on this day.
    '''
    return nba_py.Scoreboard(month = date.month, 
                             day = date.day, 
                             year = date.year, 
                             league_id = '00', 
                             offset = 0).available()['GAME_ID']

get_games(someday)

0    0021600510
1    0021600509
2    0021600508
3    0021600511
4    0021600512
Name: GAME_ID, dtype: object

In [37]:
games = nba_py.Scoreboard(month=1, day=1, year=2017, league_id='00', offset=0).game_header()
games

,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,GAME_STATUS_ID,GAME_STATUS_TEXT,GAMECODE,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,LIVE_PERIOD,LIVE_PC_TIME,NATL_TV_BROADCASTER_ABBREVIATION,LIVE_PERIOD_TIME_BCAST,WH_STATUS
0,2017-01-01T00:00:00,1,0021600508,3,Final,20170101/SASATL,1610612737,1610612759,2016,5,,None,Q5 -,1
1,2017-01-01T00:00:00,2,0021600509,3,Final,20170101/DETMIA,1610612748,1610612765,2016,4,,None,Q4 -,1
2,2017-01-01T00:00:00,3,0021600510,3,Final,20170101/ORLIND,1610612754,1610612753,2016,4,,None,Q4 -,1
3,2017-01-01T00:00:00,4,0021600511,3,Final,20170101/PORMIN,1610612750,1610612757,2016,4,,None,Q4 -,1
4,2017-01-01T00:00:00,5,0021600512,3,Final,20170101/TORLAL,1610612747,1610612761,2016,4,,None,Q4 -,1

In [40]:
games[games['GAME_ID'] == '0021600508'][['HOME_TEAM_ID', 'VISITOR_TEAM_ID']]

   HOME_TEAM_ID  VISITOR_TEAM_ID
0    1610612737       1610612759