In [1]:
import nba_py
import nba_py.game
import nba_py.player
import nba_py.team

import pandas as pd
import numpy as np
%matplotlib inline

import datetime
import time
import functools

In [2]:
today = datetime.date.today()
tomorrow = today + datetime.timedelta(days = 1)
someday = datetime.date(2017, 1, 1)

all_players = nba_py.player.PlayerList(season = '2017-18').info()

In [3]:
def get_games(date):
    '''
    return a pandas.Series of all the games available on this day.
    '''
    return nba_py.Scoreboard(month = date.month, 
                             day = date.day, 
                             year = date.year, 
                             league_id = '00', 
                             offset = 0).game_header()[['GAME_ID', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID']]

games = get_games(someday)
games

      GAME_ID  HOME_TEAM_ID  VISITOR_TEAM_ID
0  0021600508    1610612737       1610612759
1  0021600509    1610612748       1610612765
2  0021600510    1610612754       1610612753
3  0021600511    1610612750       1610612757
4  0021600512    1610612747       1610612761

In [5]:
def get_players(games):
    home_team_player = all_players[all_players['TEAM_ID'].isin(games['HOME_TEAM_ID'])][['PERSON_ID', 'TEAM_ID']]
    home_team_player['Location'] = 'HOME'
    away_team_player = all_players[all_players['TEAM_ID'].isin(games['VISITOR_TEAM_ID'])][['PERSON_ID', 'TEAM_ID']]
    away_team_player['Location'] = 'AWAY'
    players = pd.concat([home_team_player, away_team_player])
    game_team = pd.concat([games[['HOME_TEAM_ID', 'GAME_ID']].rename(columns = {'HOME_TEAM_ID': 'TEAM_ID'}), 
                           games[['VISITOR_TEAM_ID', 'GAME_ID']].rename(columns = {'VISITOR_TEAM_ID': 'TEAM_ID'})])
    players = pd.merge(players, game_team, on = 'TEAM_ID')
    team_team = pd.concat([games[['HOME_TEAM_ID', 'VISITOR_TEAM_ID']].\
                           rename(columns = {'HOME_TEAM_ID': 'TEAM_ID', 'VISITOR_TEAM_ID': 'Against_Team_ID'}), 
                           games[['VISITOR_TEAM_ID', 'HOME_TEAM_ID']].\
                           rename(columns = {'VISITOR_TEAM_ID': 'TEAM_ID', 'HOME_TEAM_ID': 'Against_Team_ID'})])
    return pd.merge(players, team_team, on = 'TEAM_ID')
    
    

players = get_players(games)
players

     PERSON_ID     TEAM_ID Location     GAME_ID  Against_Team_ID
0      1628389  1610612748     HOME  0021600509       1610612765
1       201609  1610612748     HOME  0021600509       1610612765
2       201961  1610612748     HOME  0021600509       1610612765
3      1627773  1610612748     HOME  0021600509       1610612765
4         2617  1610612748     HOME  0021600509       1610612765
5       201949  1610612748     HOME  0021600509       1610612765
6       204020  1610612748     HOME  0021600509       1610612765
7       203585  1610612748     HOME  0021600509       1610612765
8      1626175  1610612748     HOME  0021600509       1610612765
9       203482  1610612748     HOME  0021600509       1610612765
10     1626196  1610612748     HOME  0021600509       1610612765
11      203079  1610612748     HOME  0021600509       1610612765
12     1628476  1610612748     HOME  0021600509       1610612765
13     1627855  1610612748     HOME  0021600509       1610612765
14      202355  1610612748     HOME  0021600509       1610612765
15     1628475  1610612748     HOME  0021600509       1610612765
16     1626159  1610612748     HOME  0021600509       1610612765
17      202332  1610612750     HOME  0021600511       1610612757
18      202357  1610612750     HOME  0021600511       1610612757
19      202710  1610612750     HOME  0021600511       1610612757
20        2037  1610612750     HOME  0021600511       1610612757
21      203476  1610612750     HOME  0021600511       1610612757
22      201959  1610612750     HOME  0021600511       1610612757
23     1626145  1610612750     HOME  0021600511       1610612757
24      203498  1610612750     HOME  0021600511       1610612757
25     1628383  1610612750     HOME  0021600511       1610612757
26      201575  1610612750     HOME  0021600511       1610612757
27      201952  1610612750     HOME  0021600511       1610612757
28     1626157  1610612750     HOME  0021600511       1610612757
29      203952  1610612750     HOME  0021600511       1610612757
..         ...         ...      ...         ...              ...
143     200768  1610612761     AWAY  0021600512       1610612747
144     203909  1610612761     AWAY  0021600512       1610612747
145    1628035  1610612761     AWAY  0021600512       1610612747
146    1628452  1610612761     AWAY  0021600512       1610612747
147     101139  1610612761     AWAY  0021600512       1610612747
148    1626259  1610612761     AWAY  0021600512       1610612747
149     203512  1610612761     AWAY  0021600512       1610612747
150    1627751  1610612761     AWAY  0021600512       1610612747
151    1626181  1610612761     AWAY  0021600512       1610612747
152    1627783  1610612761     AWAY  0021600512       1610612747
153     202685  1610612761     AWAY  0021600512       1610612747
154    1627832  1610612761     AWAY  0021600512       1610612747
155    1627787  1610612761     AWAY  0021600512       1610612747
156    1626153  1610612761     AWAY  0021600512       1610612747
157     202340  1610612765     AWAY  0021600509       1610612748
158     203493  1610612765     AWAY  0021600509       1610612748
159     203083  1610612765     AWAY  0021600509       1610612748
160    1627740  1610612765     AWAY  0021600509       1610612748
161     204038  1610612765     AWAY  0021600509       1610612748
162     202699  1610612765     AWAY  0021600509       1610612748
163     202704  1610612765     AWAY  0021600509       1610612748
164    1626169  1610612765     AWAY  0021600509       1610612748
165    1628379  1610612765     AWAY  0021600509       1610612748
166     202720  1610612765     AWAY  0021600509       1610612748
167    1626246  1610612765     AWAY  0021600509       1610612748
168    1626242  1610612765     AWAY  0021600509       1610612748
169     203961  1610612765     AWAY  0021600509       1610612748
170     202397  1610612765     AWAY  0021600509       1610612748
171     201229  1610612765     AWAY  0021600509       1610612748
172       2757  1610612765     AWAY  0021600509       1610612748

[173 rows x 5 columns]