In [1]:
import nba_py
import nba_py.game
import nba_py.player
import nba_py.team

import pandas as pd
import numpy as np
%matplotlib inline

import datetime
import time
import functools

import pymysql
from sqlalchemy import create_engine

pwd = ''

old_settings = np.seterr(all='print')
np.geterr()

{'divide': 'print', 'invalid': 'print', 'over': 'print', 'under': 'print'}

In [2]:
conn = create_engine('mysql+pymysql://root:%s@118.190.202.87:3306/nba_stats' % pwd)
game_logs = pd.read_sql_table('game_logs', conn)
print(str(len(game_logs)) + ' game logs loaded.')

64665 game logs loaded.

In [139]:
today = datetime.date.today()
tomorrow = today + datetime.timedelta(days = 1)
someday = datetime.date(2017, 1, 1)

all_players = nba_py.player.PlayerList(season = '2017-18').info()

In [140]:
def get_games(date):
    '''
    return a pandas.Series of all the games available on this day.
    '''
    return nba_py.Scoreboard(month = date.month, 
                             day = date.day, 
                             year = date.year, 
                             league_id = '00', 
                             offset = 0).game_header()[['GAME_ID', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID']]

games = get_games(someday)
games

      GAME_ID  HOME_TEAM_ID  VISITOR_TEAM_ID
0  0021600508    1610612737       1610612759
1  0021600509    1610612748       1610612765
2  0021600510    1610612754       1610612753
3  0021600511    1610612750       1610612757
4  0021600512    1610612747       1610612761

In [141]:
def get_players(games):
    home_team_player = all_players[all_players['TEAM_ID'].isin(games['HOME_TEAM_ID'])][['PERSON_ID', 'TEAM_ID']]
    home_team_player['Location'] = 'HOME'
    away_team_player = all_players[all_players['TEAM_ID'].isin(games['VISITOR_TEAM_ID'])][['PERSON_ID', 'TEAM_ID']]
    away_team_player['Location'] = 'AWAY'
    players = pd.concat([home_team_player, away_team_player])
    game_team = pd.concat([games[['HOME_TEAM_ID', 'GAME_ID']].rename(columns = {'HOME_TEAM_ID': 'TEAM_ID'}), 
                           games[['VISITOR_TEAM_ID', 'GAME_ID']].rename(columns = {'VISITOR_TEAM_ID': 'TEAM_ID'})])
    players = pd.merge(players, game_team, on = 'TEAM_ID')
    team_team = pd.concat([games[['HOME_TEAM_ID', 'VISITOR_TEAM_ID']].\
                           rename(columns = {'HOME_TEAM_ID': 'TEAM_ID', 'VISITOR_TEAM_ID': 'Against_Team_ID'}), 
                           games[['VISITOR_TEAM_ID', 'HOME_TEAM_ID']].\
                           rename(columns = {'VISITOR_TEAM_ID': 'TEAM_ID', 'HOME_TEAM_ID': 'Against_Team_ID'})])
    return pd.merge(players, team_team, on = 'TEAM_ID')
    
    

players = get_players(games)
players

     PERSON_ID     TEAM_ID Location     GAME_ID  Against_Team_ID
0      1628389  1610612748     HOME  0021600509       1610612765
1       201609  1610612748     HOME  0021600509       1610612765
2       201961  1610612748     HOME  0021600509       1610612765
3      1627773  1610612748     HOME  0021600509       1610612765
4         2617  1610612748     HOME  0021600509       1610612765
5       201949  1610612748     HOME  0021600509       1610612765
6       204020  1610612748     HOME  0021600509       1610612765
7       203585  1610612748     HOME  0021600509       1610612765
8      1626175  1610612748     HOME  0021600509       1610612765
9       203482  1610612748     HOME  0021600509       1610612765
10     1626196  1610612748     HOME  0021600509       1610612765
11      203079  1610612748     HOME  0021600509       1610612765
12     1628476  1610612748     HOME  0021600509       1610612765
13     1627855  1610612748     HOME  0021600509       1610612765
14      202355  1610612748     HOME  0021600509       1610612765
15     1628475  1610612748     HOME  0021600509       1610612765
16     1626159  1610612748     HOME  0021600509       1610612765
17      202332  1610612750     HOME  0021600511       1610612757
18      202357  1610612750     HOME  0021600511       1610612757
19      202710  1610612750     HOME  0021600511       1610612757
20        2037  1610612750     HOME  0021600511       1610612757
21      203476  1610612750     HOME  0021600511       1610612757
22      201959  1610612750     HOME  0021600511       1610612757
23     1626145  1610612750     HOME  0021600511       1610612757
24     1628383  1610612750     HOME  0021600511       1610612757
25      201952  1610612750     HOME  0021600511       1610612757
26     1626157  1610612750     HOME  0021600511       1610612757
27      203952  1610612750     HOME  0021600511       1610612757
28     1628387  1610612754     HOME  0021600510       1610612753
29      202711  1610612754     HOME  0021600510       1610612753
..         ...         ...      ...         ...              ...
131     201586  1610612761     AWAY  0021600512       1610612747
132     200768  1610612761     AWAY  0021600512       1610612747
133     203909  1610612761     AWAY  0021600512       1610612747
134    1628035  1610612761     AWAY  0021600512       1610612747
135    1628452  1610612761     AWAY  0021600512       1610612747
136     101139  1610612761     AWAY  0021600512       1610612747
137    1626259  1610612761     AWAY  0021600512       1610612747
138     203512  1610612761     AWAY  0021600512       1610612747
139    1627751  1610612761     AWAY  0021600512       1610612747
140    1626181  1610612761     AWAY  0021600512       1610612747
141    1627783  1610612761     AWAY  0021600512       1610612747
142     202685  1610612761     AWAY  0021600512       1610612747
143    1627832  1610612761     AWAY  0021600512       1610612747
144    1627787  1610612761     AWAY  0021600512       1610612747
145    1626153  1610612761     AWAY  0021600512       1610612747
146     202340  1610612765     AWAY  0021600509       1610612748
147     203493  1610612765     AWAY  0021600509       1610612748
148     203083  1610612765     AWAY  0021600509       1610612748
149    1627740  1610612765     AWAY  0021600509       1610612748
150     204038  1610612765     AWAY  0021600509       1610612748
151     202699  1610612765     AWAY  0021600509       1610612748
152     202704  1610612765     AWAY  0021600509       1610612748
153    1626169  1610612765     AWAY  0021600509       1610612748
154    1628379  1610612765     AWAY  0021600509       1610612748
155     202720  1610612765     AWAY  0021600509       1610612748
156    1626246  1610612765     AWAY  0021600509       1610612748
157    1626242  1610612765     AWAY  0021600509       1610612748
158     203961  1610612765     AWAY  0021600509       1610612748
159     202397  1610612765     AWAY  0021600509       1610612748
160     201229  1610612765     AWAY  0021600509       1610612748

[161 rows x 5 columns]

In [142]:
def get_last_n_game_logs(player_ID, game_ID, n):
    '''
    retrun a pandas.DataFrame of a player's last n game logs before a specific game.
    '''
    player_game_logs = game_logs[game_logs['Player_ID'] == player_ID]
    game_index = player_game_logs[player_game_logs['Game_ID']  < game_ID].sort_values('Game_ID', 
                                                                                      ascending = False).index[:n]
    return player_game_logs.loc[game_index, ['MIN', 'PTS', 'AST', 'OREB', 'DREB', 'STL', 'BLK',
                                      'TOV', 'FGM', 'FGA', 'FG3M']]

kawhi = get_last_n_game_logs(202695, '0021600508', 10)
kawhi

       MIN  PTS  AST  OREB  DREB  STL  BLK  TOV  FGM  FGA  FG3M
36015   38   25    5     4     6    3    1    2    7   14     3
36016   32   33    2     0     3    1    0    2    9   15     5
36017   34   27    5     4     5    1    2    4    8   19     1
36018   36   21    4     0     5    5    0    7    5   15     0
36019   24   13    0     0     2    1    1    0    5   10     1
36020   27   18    4     2     8    2    0    1    6   12     1
36021   37   26    6     1     2    2    1    4    9   17     1
36022   27   30    3     1     6    1    1    0   10   18     4
36023   38   24    5     3     5    2    0    2   10   19     1
36024   36   31    4     0     1    2    0    1   11   15     2

In [153]:
def get_min20_r(log_row):
    '''
    retrun a pandas.DataFrame of a player's last n game logs before a specific game.
    '''
    player_ID = log_row['PERSON_ID']
    game_ID = log_row['GAME_ID']
    player_game_logs = game_logs[game_logs['Player_ID'] == player_ID]
    game_index = player_game_logs[player_game_logs['Game_ID']  < game_ID].sort_values('Game_ID', 
                                                                                      ascending = False).index[:20]
    return player_game_logs.loc[game_index, 'MIN'].mean()

def get_min10_r(log_row):
    '''
    retrun a pandas.DataFrame of a player's last n game logs before a specific game.
    '''
    player_ID = log_row['PERSON_ID']
    game_ID = log_row['GAME_ID']
    player_game_logs = game_logs[game_logs['Player_ID'] == player_ID]
    game_index = player_game_logs[player_game_logs['Game_ID']  < game_ID].sort_values('Game_ID', 
                                                                                      ascending = False).index[:10]
    return player_game_logs.loc[game_index, 'MIN'].mean()

def get_min5_r(log_row):
    '''
    retrun a pandas.DataFrame of a player's last n game logs before a specific game.
    '''
    player_ID = log_row['PERSON_ID']
    game_ID = log_row['GAME_ID']
    player_game_logs = game_logs[game_logs['Player_ID'] == player_ID]
    game_index = player_game_logs[player_game_logs['Game_ID']  < game_ID].sort_values('Game_ID', 
                                                                                      ascending = False).index[:5]
    return player_game_logs.loc[game_index, 'MIN'].mean()

In [144]:
def get_score_36(game_logs):
    '''
    return the Fantasy score of the given game logs(pandas.DataFrame).
    '''
    convert_to_36 = lambda x: x[['PTS', 'AST', 'OREB', 'DREB', 'STL', 'BLK', 
                                 'TOV', 'FGM', 'FGA', 'FG3M']] * 36 / x['MIN']
    stats = game_logs.apply(convert_to_36, axis = 1).mean()
    score = stats['PTS'] * 1 + stats['AST'] * 1.5 + \
    stats['OREB'] * 1 + stats['DREB'] * 0.7 + \
    stats['STL'] * 2 + stats['BLK'] * 1.8 + stats['TOV'] * -1 + \
    stats['FGM'] * 0.4 + (stats['FGA'] - stats['FGM']) * -1 + stats['FG3M'] * 0.5
    return score

get_score_36(kawhi)

37.936588918639998

In [145]:
def get_ma(player_ID, game_ID, n):
    '''
    return a list of last n games' average score.
    '''
    ma_n = get_score_36(get_last_n_game_logs(player_ID, game_ID, n))
    return round(float(ma_n), 2)

get_ma(202695, '0021600508', 10)

37.94

In [146]:
def get_ma20_r(log_row):
    '''
    return a list of last 20 games' average score.
    '''
    player_ID = log_row['PERSON_ID']
    game_ID = log_row['GAME_ID']
    ma_20 = get_score_36(get_last_n_game_logs(player_ID, game_ID, 20))
    return round(float(ma_20), 2)

def get_ma10_r(log_row):
    '''
    return a list of last 10 games' average score.
    '''
    player_ID = log_row['PERSON_ID']
    game_ID = log_row['GAME_ID']
    ma_10 = get_score_36(get_last_n_game_logs(player_ID, game_ID, 10))
    return round(float(ma_10), 2)

def get_ma5_r(log_row):
    '''
    return a list of last 20 games' average score.
    '''
    player_ID = log_row['PERSON_ID']
    game_ID = log_row['GAME_ID']
    ma_5 = get_score_36(get_last_n_game_logs(player_ID, game_ID, 5))
    return round(float(ma_5), 2)

In [156]:
players['MA_20'] = players.apply(get_ma20_r, axis = 1)
players['MA_10'] = players.apply(get_ma10_r, axis = 1)
players['MA_5'] = players.apply(get_ma5_r, axis = 1)
players['MIN_20'] = round(players.apply(get_min20_r, axis = 1), 2)
players['MIN_10'] = round(players.apply(get_min10_r, axis = 1), 2)
players['MIN_5'] = round(players.apply(get_min5_r, axis = 1), 2)
players

,PERSON_ID,TEAM_ID,Location,GAME_ID,Against_Team_ID,MA_20,MA_10,MA_5,MIN_20,MIN_10,MIN_5
0,1628389,1610612748,HOME,0021600509,1610612765,NaN,NaN,NaN,NaN,NaN,NaN
1,201609,1610612748,HOME,0021600509,1610612765,26.77,26.01,22.73,35.30,35.80,36.8
2,201961,1610612748,HOME,0021600509,1610612765,17.07,15.85,15.51,27.20,26.90,20.8
3,1627773,1610612748,HOME,0021600509,1610612765,23.45,18.80,18.48,4.41,5.20,6.2
4,2617,1610612748,HOME,0021600509,1610612765,12.41,10.18,10.54,5.30,5.80,5.2
5,201949,1610612748,HOME,0021600509,1610612765,27.07,30.90,34.53,25.30,23.90,23.0
6,204020,1610612748,HOME,0021600509,1610612765,24.28,25.65,27.47,32.05,31.60,30.2
7,203585,1610612748,HOME,0021600509,1610612765,13.84,13.27,12.76,29.55,28.40,28.6
8,1626175,1610612748,HOME,0021600509,1610612765,18.14,20.20,37.59,5.75,7.10,5.0
9,203482,1610612748,HOME,0021600509,1610612765,25.18,22.35,19.23,18.75,18.20,17.2
10,1626196,1610612748,HOME,0021600509,1610612765,18.04,17.67,23.44,31.75,34.30,35.0
11,203079,1610612748,HOME,0021600509,1610612765,18.95,22.89,27.28,31.45,31.40,30.8
12,1628476,1610612748,HOME,0021600509,1610612765,NaN,NaN,NaN,NaN,NaN,NaN
13,1627855,1610612748,HOME,0021600509,1610612765,NaN,NaN,NaN,NaN,NaN,NaN
14,202355,1610612748,HOME,0021600509,1610612765,29.08,29.54,22.69,34.85,35.50,34.2
15,1628475,1610612748,HOME,0021600509,1610612765,NaN,NaN,NaN,NaN,NaN,NaN
16,1626159,1610612748,HOME,0021600509,1610612765,16.74,16.10,17.82,33.45,33.80,35.0
17,202332,1610612750,HOME,0021600511,1610612757,21.49,20.28,17.39,11.70,11.90,7.2
18,202357,1610612750,HOME,0021600511,1610612757,17.96,14.12,12.08,15.85,15.40,17.0
19,202710,1610612750,HOME,0021600511,1610612757,30.77,28.34,30.74,37.45,36.60,38.0
20,2037,1610612750,HOME,0021600511,1610612757,16.76,15.11,13.10,27.95,28.30,31.4
21,203476,1610612750,HOME,0021600511,1610612757,21.11,19.77,20.78,33.60,36.60,36.0
22,201959,1610612750,HOME,0021600511,1610612757,23.09,22.17,15.42,27.55,25.80,26.4
23,1626145,1610612750,HOME,0021600511,1610612757,22.00,12.32,16.36,11.10,7.20,3.8
24,1628383,1610612750,HOME,0021600511,1610612757,NaN,NaN,NaN,NaN,NaN,NaN
25,201952,1610612750,HOME,0021600511,1610612757,31.66,32.03,30.28,32.20,33.00,31.8
26,1626157,1610612750,HOME,0021600511,1610612757,31.53,34.00,34.96,35.40,36.70,34.8
27,203952,1610612750,HOME,0021600511,1610612757,20.90,25.31,26.70,37.00,38.10,35.8
28,1628387,1610612754,HOME,0021600510,1610612753,NaN,NaN,NaN,NaN,NaN,NaN
29,202711,1610612754,HOME,0021600510,1610612753,19.36,17.94,17.56,26.40,24.70,24.4
...,...,...,...,...,...,...,...,...,...,...,...
131,201586,1610612761,AWAY,0021600512,1610612747,30.34,32.00,36.33,30.75,30.50,29.6
132,200768,1610612761,AWAY,0021600512,1610612747,36.53,36.51,40.05,36.20,36.40,37.0
133,203909,1610612761,AWAY,0021600512,1610612747,13.95,11.24,-0.36,9.25,4.20,4.4
134,1628035,1610612761,AWAY,0021600512,1610612747,NaN,NaN,NaN,NaN,NaN,NaN
135,1628452,1610612761,AWAY,0021600512,1610612747,NaN,NaN,NaN,NaN,NaN,NaN
136,101139,1610612761,AWAY,0021600512,1610612747,17.03,15.10,14.80,22.20,24.70,23.0
137,1626259,1610612761,AWAY,0021600512,1610612747,NaN,NaN,NaN,NaN,NaN,NaN
138,203512,1610612761,AWAY,0021600512,1610612747,24.05,24.01,22.85,18.60,20.60,22.8
139,1627751,1610612761,AWAY,0021600512,1610612747,20.29,22.07,23.19,11.00,8.70,4.8
140,1626181,1610612761,AWAY,0021600512,1610612747,21.59,20.35,14.22,15.70,17.10,17.2
141,1627783,1610612761,AWAY,0021600512,1610612747,16.31,12.80,6.71,17.30,14.70,13.2
142,202685,1610612761,AWAY,0021600512,1610612747,26.22,29.25,31.78,25.50,23.80,21.0
143,1627832,1610612761,AWAY,0021600512,1610612747,20.52,20.52,21.68,5.12,5.12,7.0
144,1627787,1610612761,AWAY,0021600512,1610612747,8.87,8.87,15.96,3.33,3.33,3.8
145,1626153,1610612761,AWAY,0021600512,1610612747,24.18,22.13,35.01,10.45,15.40,22.0
146,202340,1610612765,AWAY,0021600509,1610612748,24.58,25.52,25.07,34.25,33.60,32.6
147,203493,1610612765,AWAY,0021600509,1610612748,18.38,14.10,12.91,16.65,14.40,15.8
148,203083,1610612765,AWAY,0021600509,1610612748,32.19,25.06,28.28,29.70,30.80,31.4
149,1627740,1610612765,AWAY,0021600509,1610612748,7.22,7.22,-1.39,3.50,3.50,4.4
150,204038,1610612765,AWAY,0021600509,1610612748,18.00,19.87,19.52,22.50,22.10,22.6
151,202699,1610612765,AWAY,0021600509,1610612748,22.54,21.03,27.99,32.60,30.90,31.4
152,202704,1610612765,AWAY,0021600509,1610612748,25.12,24.40,25.88,28.65,28.70,30.4
153,1626169,1610612765,AWAY,0021600509,1610612748,18.06,15.84,14.61,13.55,18.60,16.8
154,1628379,1610612765,AWAY,0021600509,1610612748,NaN,NaN,NaN,NaN,NaN,NaN
155,202720,1610612765,AWAY,0021600509,1610612748,23.58,25.69,23.18,28.05,29.00,31.4
156,1626246,1610612765,AWAY,0021600509,1610612748,24.49,21.96,34.56,10.40,5.40,4.6
157,1626242,1610612765,AWAY,0021600509,1610612748,13.00,14.42,-7.87,3.58,3.70,4.0
158,203961,1610612765,AWAY,0021600509,1610612748,22.26,24.49,15.98,4.45,4.80,7.0
159,202397,1610612765,AWAY,0021600509,1610612748,22.91,19.33,21.90,23.25,20.00,20.8
160,201229,1610612765,AWAY,0021600509,1610612748,16.37,17.72,17.82,19.85,27.50,28.2