In [19]:
# import modules ----------------------

import nba_py
import nba_py.game
import nba_py.player
import nba_py.team

import pandas as pd
import numpy as np

import datetime
# import time
# import functools

# import pymysql
from sqlalchemy import create_engine

import sys
sys.path.append('/Users/wonderui/OneDrive/6_Module_Package')
sys.path.append('/Users/WangRui/OneDrive/6_Module_Package')
import hoop_pwd
pwd = hoop_pwd.password

old_settings = np.seterr(all='print')
np.geterr()

from nba_seer import *

modules imported
functions defined

In [3]:
# create sql conn and load game stats logs ----------------------

conn = create_engine('mysql+pymysql://root:%s@118.190.202.87:3306/nba_stats' % pwd)
game_stats_logs = pd.read_sql_table('game_stats_logs', conn)
game_stats_logs = game_stats_logs[game_stats_logs['GAME_TYPE'] != 'all_star']

print(str(len(game_stats_logs)) + ' player stats loaded.')

182297 player stats loaded.

In [4]:
# set date ----------------------

today = datetime.date.today()
tomorrow = today + datetime.timedelta(days=1)
someday = datetime.date(2017, 1, 1)

print('date set')

date set

In [5]:
# load player list ----------------------

all_players = nba_py.player.PlayerList(season='2017-18').info()

print('players list loaded')

players list loaded

### execute

In [20]:
games = get_games(someday)
players = get_players(games, all_players)
players

     PERSON_ID     TEAM_ID Location     GAME_ID  Against_Team_ID
0      1628389  1610612748     HOME  0021600509       1610612765
1       201609  1610612748     HOME  0021600509       1610612765
2       203580  1610612748     HOME  0021600509       1610612765
3       201961  1610612748     HOME  0021600509       1610612765
4      1627773  1610612748     HOME  0021600509       1610612765
5         2617  1610612748     HOME  0021600509       1610612765
6       201949  1610612748     HOME  0021600509       1610612765
7       204020  1610612748     HOME  0021600509       1610612765
8      1628571  1610612748     HOME  0021600509       1610612765
9       203585  1610612748     HOME  0021600509       1610612765
10     1626175  1610612748     HOME  0021600509       1610612765
11      203482  1610612748     HOME  0021600509       1610612765
12     1626196  1610612748     HOME  0021600509       1610612765
13      203079  1610612748     HOME  0021600509       1610612765
14     1628476  1610612748     HOME  0021600509       1610612765
15     1627855  1610612748     HOME  0021600509       1610612765
16      202355  1610612748     HOME  0021600509       1610612765
17     1628475  1610612748     HOME  0021600509       1610612765
18     1626159  1610612748     HOME  0021600509       1610612765
19      202332  1610612750     HOME  0021600511       1610612757
20      202357  1610612750     HOME  0021600511       1610612757
21      202710  1610612750     HOME  0021600511       1610612757
22        2037  1610612750     HOME  0021600511       1610612757
23      203476  1610612750     HOME  0021600511       1610612757
24      201959  1610612750     HOME  0021600511       1610612757
25     1628518  1610612750     HOME  0021600511       1610612757
26     1626145  1610612750     HOME  0021600511       1610612757
27      203498  1610612750     HOME  0021600511       1610612757
28     1628383  1610612750     HOME  0021600511       1610612757
29      201952  1610612750     HOME  0021600511       1610612757
..         ...         ...      ...         ...              ...
148     201586  1610612761     AWAY  0021600512       1610612747
149     200768  1610612761     AWAY  0021600512       1610612747
150     203909  1610612761     AWAY  0021600512       1610612747
151    1628035  1610612761     AWAY  0021600512       1610612747
152    1628452  1610612761     AWAY  0021600512       1610612747
153     101139  1610612761     AWAY  0021600512       1610612747
154    1626259  1610612761     AWAY  0021600512       1610612747
155     203512  1610612761     AWAY  0021600512       1610612747
156    1627751  1610612761     AWAY  0021600512       1610612747
157    1626181  1610612761     AWAY  0021600512       1610612747
158    1627783  1610612761     AWAY  0021600512       1610612747
159     202685  1610612761     AWAY  0021600512       1610612747
160    1627832  1610612761     AWAY  0021600512       1610612747
161    1627787  1610612761     AWAY  0021600512       1610612747
162    1626153  1610612761     AWAY  0021600512       1610612747
163     202340  1610612765     AWAY  0021600509       1610612748
164     203493  1610612765     AWAY  0021600509       1610612748
165     203083  1610612765     AWAY  0021600509       1610612748
166    1627740  1610612765     AWAY  0021600509       1610612748
167     204038  1610612765     AWAY  0021600509       1610612748
168     202699  1610612765     AWAY  0021600509       1610612748
169     202704  1610612765     AWAY  0021600509       1610612748
170    1626169  1610612765     AWAY  0021600509       1610612748
171    1628379  1610612765     AWAY  0021600509       1610612748
172     202720  1610612765     AWAY  0021600509       1610612748
173    1626246  1610612765     AWAY  0021600509       1610612748
174    1626242  1610612765     AWAY  0021600509       1610612748
175     203961  1610612765     AWAY  0021600509       1610612748
176     202397  1610612765     AWAY  0021600509       1610612748
177     201229  1610612765     AWAY  0021600509       1610612748

[178 rows x 5 columns]

In [22]:
players['MA_20'] = players.apply(lambda x: get_ma(game_stats_logs, x, 20), axis = 1)
players['MA_10'] = players.apply(lambda x: get_ma(game_stats_logs, x, 10), axis = 1)
players['MA_5'] = players.apply(lambda x: get_ma(game_stats_logs, x, 5), axis = 1)
players['MIN_20'] = players.apply(lambda x: get_min(game_stats_logs, x, 20), axis = 1)
players['MIN_10'] = players.apply(lambda x: get_min(game_stats_logs, x, 10), axis = 1)
players['MIN_5'] = players.apply(lambda x: get_min(game_stats_logs, x, 5), axis = 1)
players['MIN_COV_20'] = players.apply(lambda x: get_min_cov(game_stats_logs, x, 20), axis = 1)
players['SCO_COV_20'] = players.apply(lambda x: get_sco_cov(game_stats_logs, x, 20), axis = 1)

players['EXP_SCO'] = round(players[['MA_20', 'MA_10', 'MA_5']].mean(axis = 1) * 
                           players[['MIN_20', 'MIN_10', 'MIN_5']].mean(axis = 1) / 36, 2)
players

,PERSON_ID,TEAM_ID,Location,GAME_ID,Against_Team_ID,MA_20,MA_10,MA_5,MIN_20,MIN_10,MIN_5,MIN_COV_20,SCO_COV_20,EXP_SCO
0,1628389,1610612748,HOME,0021600509,1610612765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,201609,1610612748,HOME,0021600509,1610612765,28.52,26.21,21.00,36.01,36.06,33.83,0.094,0.420,24.75
2,203580,1610612748,HOME,0021600509,1610612765,11.18,12.62,15.20,17.32,18.17,15.11,0.401,1.361,6.09
3,201961,1610612748,HOME,0021600509,1610612765,17.84,16.47,14.10,27.38,22.96,20.37,0.317,0.526,10.57
4,1627773,1610612748,HOME,0021600509,1610612765,16.71,16.86,6.80,5.17,5.09,3.29,0.841,0.910,1.69
5,2617,1610612748,HOME,0021600509,1610612765,17.85,0.00,0.00,4.49,4.58,4.58,0.768,0.864,0.75
6,201949,1610612748,HOME,0021600509,1610612765,27.06,31.01,34.61,24.82,23.83,22.96,0.201,0.575,20.48
7,204020,1610612748,HOME,0021600509,1610612765,24.79,26.67,27.45,32.05,31.22,30.18,0.101,0.413,22.76
8,1628571,1610612748,HOME,0021600509,1610612765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,203585,1610612748,HOME,0021600509,1610612765,13.28,12.08,13.67,30.68,27.21,26.18,0.228,0.460,10.13
10,1626175,1610612748,HOME,0021600509,1610612765,27.45,46.55,137.53,8.79,4.75,1.78,0.722,1.556,10.00
11,203482,1610612748,HOME,0021600509,1610612765,25.03,22.55,19.31,18.86,18.07,17.15,0.226,0.399,11.16
12,1626196,1610612748,HOME,0021600509,1610612765,19.10,17.68,23.48,32.37,34.21,34.92,0.148,0.561,18.88
13,203079,1610612748,HOME,0021600509,1610612765,19.95,22.83,27.09,30.14,31.44,31.02,0.222,0.507,19.97
14,1628476,1610612748,HOME,0021600509,1610612765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1627855,1610612748,HOME,0021600509,1610612765,27.53,27.53,29.26,9.80,9.80,12.66,0.777,0.331,8.40
16,202355,1610612748,HOME,0021600509,1610612765,29.17,29.67,22.68,34.76,35.35,34.17,0.128,0.424,26.24
17,1628475,1610612748,HOME,0021600509,1610612765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1626159,1610612748,HOME,0021600509,1610612765,16.52,16.52,17.83,33.55,33.55,34.92,0.229,0.635,16.02
19,202332,1610612750,HOME,0021600511,1610612757,22.33,18.33,16.93,11.95,7.82,4.51,0.572,0.454,4.32
20,202357,1610612750,HOME,0021600511,1610612757,18.06,14.00,12.08,15.80,15.45,16.93,0.307,0.829,6.56
21,202710,1610612750,HOME,0021600511,1610612757,30.78,28.31,30.66,37.45,36.63,38.09,0.094,0.329,31.07
22,2037,1610612750,HOME,0021600511,1610612757,16.81,15.17,13.12,27.88,28.16,31.29,0.192,0.699,12.16
23,203476,1610612750,HOME,0021600511,1610612757,21.12,19.77,20.75,33.56,36.59,36.07,0.177,0.351,20.21
24,201959,1610612750,HOME,0021600511,1610612757,23.04,22.13,15.46,27.58,25.79,26.37,0.183,0.422,14.92
25,1628518,1610612750,HOME,0021600511,1610612757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1626145,1610612750,HOME,0021600511,1610612757,14.11,10.64,21.27,6.62,3.05,5.81,0.945,2.295,2.20
27,203498,1610612750,HOME,0021600511,1610612757,15.47,18.93,20.49,17.74,19.38,21.69,0.313,0.703,9.96
28,1628383,1610612750,HOME,0021600511,1610612757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,201952,1610612750,HOME,0021600511,1610612757,31.66,31.92,30.19,32.18,33.07,31.84,0.159,0.257,28.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,201586,1610612761,AWAY,0021600512,1610612747,30.38,32.08,36.48,30.69,30.40,29.45,0.136,0.348,27.65
149,200768,1610612761,AWAY,0021600512,1610612747,36.55,36.47,39.93,36.19,36.44,37.12,0.087,0.218,38.26
150,203909,1610612761,AWAY,0021600512,1610612747,10.27,-1.19,6.92,4.12,4.22,4.59,0.571,3.002,0.64
151,1628035,1610612761,AWAY,0021600512,1610612747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,1628452,1610612761,AWAY,0021600512,1610612747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,101139,1610612761,AWAY,0021600512,1610612747,17.25,15.05,14.77,21.79,24.81,23.09,0.270,0.755,10.12
154,1626259,1610612761,AWAY,0021600512,1610612747,0.00,0.00,0.00,0.20,0.20,0.20,NaN,NaN,0.00
155,203512,1610612761,AWAY,0021600512,1610612747,24.51,22.34,23.14,18.78,20.50,22.50,0.247,0.524,13.35
156,1627751,1610612761,AWAY,0021600512,1610612747,22.90,16.22,4.99,4.75,4.97,5.05,0.299,0.921,2.01
157,1626181,1610612761,AWAY,0021600512,1610612747,22.30,20.23,14.31,15.44,17.10,17.24,0.655,0.780,8.73
158,1627783,1610612761,AWAY,0021600512,1610612747,16.10,12.64,6.89,17.44,14.75,13.03,0.428,0.664,4.97
159,202685,1610612761,AWAY,0021600512,1610612747,26.10,29.05,31.44,25.60,23.94,21.18,0.202,0.420,18.90
160,1627832,1610612761,AWAY,0021600512,1610612747,23.01,1.31,-31.58,5.60,8.87,2.28,1.366,1.723,-0.38
161,1627787,1610612761,AWAY,0021600512,1610612747,10.17,17.58,6.16,3.54,3.79,3.68,0.441,3.634,1.15
162,1626153,1610612761,AWAY,0021600512,1610612747,14.81,-13.69,NaN,6.38,2.63,NaN,0.669,1.379,0.07
163,202340,1610612765,AWAY,0021600509,1610612748,24.57,25.50,25.12,34.25,33.61,32.50,0.074,0.337,23.29
164,203493,1610612765,AWAY,0021600509,1610612748,18.46,10.34,10.34,15.89,10.42,10.42,0.623,0.870,4.44
165,203083,1610612765,AWAY,0021600509,1610612748,32.04,24.89,28.11,29.81,30.97,31.57,0.201,0.399,24.24
166,1627740,1610612765,AWAY,0021600509,1610612748,-2.90,-0.32,-23.16,4.30,4.62,3.35,0.460,-9.877,-1.00
167,204038,1610612765,AWAY,0021600509,1610612748,17.65,19.69,19.92,22.63,22.38,22.51,0.312,0.619,11.93
168,202699,1610612765,AWAY,0021600509,1610612748,22.50,20.93,27.81,32.66,31.03,31.60,0.138,0.396,20.95
169,202704,1610612765,AWAY,0021600509,1610612748,24.13,24.39,25.97,28.04,28.74,30.34,0.170,0.330,20.03
170,1626169,1610612765,AWAY,0021600509,1610612748,19.04,15.86,14.54,13.73,18.57,16.82,0.572,0.879,7.50
171,1628379,1610612765,AWAY,0021600509,1610612748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,202720,1610612765,AWAY,0021600509,1610612748,23.58,25.81,23.29,28.08,28.90,31.26,0.163,0.353,19.79
173,1626246,1610612765,AWAY,0021600509,1610612748,20.56,30.41,48.60,4.15,4.92,5.69,0.362,1.445,4.54
174,1626242,1610612765,AWAY,0021600509,1610612748,40.13,18.18,18.81,4.08,6.24,9.40,1.174,1.726,4.69
175,203961,1610612765,AWAY,0021600509,1610612748,15.29,10.08,10.08,7.25,7.70,7.70,0.472,0.964,2.48
176,202397,1610612765,AWAY,0021600509,1610612748,22.98,19.41,22.04,23.22,19.96,20.75,0.259,0.574,12.71
177,201229,1610612765,AWAY,0021600509,1610612748,18.54,17.80,17.82,23.42,27.37,28.14,0.442,0.356,13.19