In [1]:
# import modules ----------------------

import nba_py
import nba_py.game
import nba_py.player
import nba_py.team

import pandas as pd
import numpy as np
import pytz

import datetime
# import time
# import functools

# import pymysql
from sqlalchemy import create_engine

from password import hoop_pwd
pwd = hoop_pwd.password

old_settings = np.seterr(all='print')
np.geterr()

from nba_seer import *

modules imported
functions defined

In [2]:
# create sql conn and load game stats logs ----------------------

conn = create_engine('mysql+pymysql://root:%s@118.190.202.87:3306/nba_stats' % pwd)
game_stats_logs = pd.read_sql_table('game_stats_logs', conn)
game_stats_logs = game_stats_logs[game_stats_logs['GAME_TYPE'] != 'all_star']

print(str(len(game_stats_logs)) + ' player stats loaded.')

184688 player stats loaded.

In [3]:
# set date ----------------------

ustz = pytz.timezone('America/New_York')
us_time = datetime.datetime.now(ustz)
today = us_time.date()
tomorrow = today + datetime.timedelta(days=1)
someday = datetime.date(2017, 10, 6)

print('date set')

date set

In [4]:
# load player list ----------------------

all_players = nba_py.player.PlayerList(season='2017-18').info()

print('players list loaded')

players list loaded

### execute

In [5]:
games = get_games(today)
games

      GAME_ID  HOME_TEAM_ID  VISITOR_TEAM_ID
0  0011700065    1610612737       1610612742
1  0011700066    1610612746       1610612758

In [6]:
players = get_players(games, all_players)
players.loc[62]

PERSON_ID             1628385
TEAM_ID            1610612758
Location                 AWAY
GAME_ID            0011700066
Against_Team_ID    1610612746
Name: 62, dtype: object

In [7]:
players = get_exp_sco(players, game_stats_logs)

5games days complete!
days rest complete!
ma20 complete!
ma10 complete!
ma5 complete!
min20 complete!
min10 complete!
min5 complete!
min_cov_20 complete!
sco_cov_20 complete!
sco cov less than 0 droped!
all done!

In [14]:
players[players['PERSON_ID'] == 1628385]

Empty DataFrame
Columns: [PERSON_ID, TEAM_ID, Location, GAME_ID, Against_Team_ID, 5_g_d, d_rest, MA_20, MA_10, MA_5, MIN_20, MIN_10, MIN_5, MIN_COV_20, SCO_COV_20, EXP_SCO]
Index: []

In [9]:
player_stats_logs = game_stats_logs[game_stats_logs['PLAYER_ID'] == 1628385]
player_stats_logs

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,PF,PTS,PLUS_MINUS,LOCATION,AGAINST_TEAM_ID,GAME_TYPE,GAME_DATE_EST,GAME_SEQUENCE,MINS,GAME_ID_O
182770,0011700010,1610612758,SAC,Sacramento,1628385,Harry Giles,,DNP - Coach's Decision,None,NaN,...,NaN,NaN,NaN,HOME,1610612759,pre_season,2017-10-02T00:00:00,6,NaN,1700100010
183726,0011700036,1610612758,SAC,Sacramento,1628385,Harry Giles,,DNP - Coach's Decision,None,NaN,...,NaN,NaN,NaN,AWAY,1610612759,pre_season,2017-10-06T00:00:00,7,NaN,1700100036
184083,0011700043,1610612758,SAC,Sacramento,1628385,Harry Giles,,DNP - Coach's Decision,None,NaN,...,NaN,NaN,NaN,AWAY,1610612747,pre_season,2017-10-08T00:00:00,8,NaN,1700100043
184368,0011700053,1610612758,SAC,Sacramento,1628385,Harry Giles,,DND - Injury/Illness,None,NaN,...,NaN,NaN,NaN,HOME,1610612757,pre_season,2017-10-09T00:00:00,8,NaN,1700100053

In [10]:
ordered_logs = player_stats_logs.sort_values('GAME_ID_O')
ordered_logs

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,PF,PTS,PLUS_MINUS,LOCATION,AGAINST_TEAM_ID,GAME_TYPE,GAME_DATE_EST,GAME_SEQUENCE,MINS,GAME_ID_O
182770,0011700010,1610612758,SAC,Sacramento,1628385,Harry Giles,,DNP - Coach's Decision,None,NaN,...,NaN,NaN,NaN,HOME,1610612759,pre_season,2017-10-02T00:00:00,6,NaN,1700100010
183726,0011700036,1610612758,SAC,Sacramento,1628385,Harry Giles,,DNP - Coach's Decision,None,NaN,...,NaN,NaN,NaN,AWAY,1610612759,pre_season,2017-10-06T00:00:00,7,NaN,1700100036
184083,0011700043,1610612758,SAC,Sacramento,1628385,Harry Giles,,DNP - Coach's Decision,None,NaN,...,NaN,NaN,NaN,AWAY,1610612747,pre_season,2017-10-08T00:00:00,8,NaN,1700100043
184368,0011700053,1610612758,SAC,Sacramento,1628385,Harry Giles,,DND - Injury/Illness,None,NaN,...,NaN,NaN,NaN,HOME,1610612757,pre_season,2017-10-09T00:00:00,8,NaN,1700100053