In [1]:
# import modules ----------------------

import nba_py
import nba_py.game
import nba_py.player
import nba_py.team

import pandas as pd
import numpy as np
import pytz

import datetime
# import time
# import functools

# import pymysql
from sqlalchemy import create_engine

from password import hoop_pwd
pwd = hoop_pwd.password

old_settings = np.seterr(all='print')
np.geterr()

from nba_seer import *

modules imported
functions defined

In [2]:
# create sql conn and load game stats logs ----------------------

conn = create_engine('mysql+pymysql://root:%s@118.190.202.87:3306/nba_stats' % pwd)
game_stats_logs = pd.read_sql_table('game_stats_logs', conn)
game_stats_logs = game_stats_logs[game_stats_logs['GAME_TYPE'] != 'all_star']

print(str(len(game_stats_logs)) + ' player stats loaded.')

183649 player stats loaded.

In [15]:
# set date ----------------------

ustz = pytz.timezone('America/New_York')
us_time = datetime.datetime.now(ustz)
today = us_time.date()
tomorrow = today + datetime.timedelta(days=1)
someday = datetime.date(2017, 10, 6)

print('date set')

date set

In [16]:
# load player list ----------------------

all_players = nba_py.player.PlayerList(season='2017-18').info()

print('players list loaded')

players list loaded

### execute

In [19]:
games = get_games(today)
games

      GAME_ID  HOME_TEAM_ID  VISITOR_TEAM_ID
0  0011700037    1610612753       1610612748

In [22]:
players = get_players(games, all_players)
players

    PERSON_ID     TEAM_ID Location     GAME_ID  Against_Team_ID
0      201167  1610612753     HOME  0011700037       1610612748
1      201571  1610612753     HOME  0011700037       1610612748
2      203920  1610612753     HOME  0011700037       1610612748
3      202687  1610612753     HOME  0011700037       1610612748
4     1628505  1610612753     HOME  0011700037       1610612748
5      203095  1610612753     HOME  0011700037       1610612748
6      203932  1610612753     HOME  0011700037       1610612748
7     1626209  1610612753     HOME  0011700037       1610612748
8     1628371  1610612753     HOME  0011700037       1610612748
9     1628411  1610612753     HOME  0011700037       1610612748
10     203564  1610612753     HOME  0011700037       1610612748
11     202714  1610612753     HOME  0011700037       1610612748
12     203940  1610612753     HOME  0011700037       1610612748
13     203901  1610612753     HOME  0011700037       1610612748
14     203082  1610612753     HOME  0011700037       1610612748
15     204014  1610612753     HOME  0011700037       1610612748
16     203613  1610612753     HOME  0011700037       1610612748
17     201578  1610612753     HOME  0011700037       1610612748
18     202696  1610612753     HOME  0011700037       1610612748
19    1628389  1610612748     AWAY  0011700037       1610612753
20     201609  1610612748     AWAY  0011700037       1610612753
21     203580  1610612748     AWAY  0011700037       1610612753
22     201961  1610612748     AWAY  0011700037       1610612753
23    1627773  1610612748     AWAY  0011700037       1610612753
24       2617  1610612748     AWAY  0011700037       1610612753
25     201949  1610612748     AWAY  0011700037       1610612753
26     204020  1610612748     AWAY  0011700037       1610612753
27    1628571  1610612748     AWAY  0011700037       1610612753
28     203585  1610612748     AWAY  0011700037       1610612753
29    1626175  1610612748     AWAY  0011700037       1610612753
30     203482  1610612748     AWAY  0011700037       1610612753
31    1626196  1610612748     AWAY  0011700037       1610612753
32     203079  1610612748     AWAY  0011700037       1610612753
33    1628476  1610612748     AWAY  0011700037       1610612753
34    1627855  1610612748     AWAY  0011700037       1610612753
35     202355  1610612748     AWAY  0011700037       1610612753
36    1628475  1610612748     AWAY  0011700037       1610612753
37    1626159  1610612748     AWAY  0011700037       1610612753

In [23]:
players = get_exp_sco(players, game_stats_logs)

ma20 complete!
ma10 complete!
ma5 complete!
min20 complete!
min10 complete!
min5 complete!
min_cov_20 complete!
sco_cov_20 complete!
sco cov less than 0 droped!
all done!

In [24]:
players

,PERSON_ID,TEAM_ID,Location,GAME_ID,Against_Team_ID,MA_20,MA_10,MA_5,MIN_20,MIN_10,MIN_5,MIN_COV_20,SCO_COV_20,EXP_SCO
0,201167,1610612753,HOME,0011700037,1610612748,14.06,18.44,22.11,24.50,22.23,21.74,0.292,0.645,11.54
1,201571,1610612753,HOME,0011700037,1610612748,15.78,15.66,18.11,15.30,16.00,16.46,0.208,0.513,7.30
2,203920,1610612753,HOME,0011700037,1610612748,21.83,21.83,21.44,15.28,15.28,16.09,0.490,0.491,9.37
3,202687,1610612753,HOME,0011700037,1610612748,23.53,28.90,28.03,17.34,14.92,13.67,0.368,0.539,11.41
5,203095,1610612753,HOME,0011700037,1610612748,24.82,26.09,27.43,29.88,29.38,24.39,0.230,0.282,20.23
6,203932,1610612753,HOME,0011700037,1610612748,26.20,31.36,32.79,30.58,31.31,27.21,0.203,0.429,24.85
7,1626209,1610612753,HOME,0011700037,1610612748,15.38,19.67,20.12,20.79,20.80,22.25,0.203,0.599,10.87
8,1628371,1610612753,HOME,0011700037,1610612748,19.61,19.61,19.61,23.12,23.12,23.12,0.359,0.270,12.59
9,1628411,1610612753,HOME,0011700037,1610612748,20.68,20.68,20.68,14.19,14.19,14.19,0.235,0.417,8.15
10,203564,1610612753,HOME,0011700037,1610612748,13.15,10.56,8.08,8.05,8.09,8.10,0.554,1.440,2.38
11,202714,1610612753,HOME,0011700037,1610612748,15.99,14.11,17.88,20.70,18.54,23.85,0.474,0.689,9.34
12,203940,1610612753,HOME,0011700037,1610612748,21.92,20.93,15.09,7.30,7.17,5.25,0.623,1.218,3.53
13,203901,1610612753,HOME,0011700037,1610612748,33.30,30.47,25.11,29.72,28.65,24.78,0.204,0.347,22.81
14,203082,1610612753,HOME,0011700037,1610612748,18.67,18.44,20.74,28.54,27.97,21.22,0.274,0.671,13.88
15,204014,1610612753,HOME,0011700037,1610612748,9.22,15.48,16.40,6.41,7.11,7.82,0.713,2.337,2.71
16,203613,1610612753,HOME,0011700037,1610612748,19.58,24.32,24.87,19.19,24.50,23.75,0.425,0.617,14.31
17,201578,1610612753,HOME,0011700037,1610612748,25.85,26.58,32.36,13.99,13.55,10.32,0.287,0.541,9.91
18,202696,1610612753,HOME,0011700037,1610612748,32.65,29.88,33.35,27.93,26.43,22.80,0.212,0.266,22.83
19,1628389,1610612748,AWAY,0011700037,1610612753,10.87,10.87,10.87,5.73,5.73,5.73,0.025,1.414,1.73
20,201609,1610612748,AWAY,0011700037,1610612753,28.69,25.76,22.16,31.96,32.33,30.28,0.213,0.395,22.36
21,203580,1610612748,AWAY,0011700037,1610612753,11.67,13.28,21.55,16.44,16.23,13.66,0.453,1.262,6.65
22,201961,1610612748,AWAY,0011700037,1610612753,15.50,15.66,14.18,20.34,20.07,22.63,0.225,0.796,8.82
23,1627773,1610612748,AWAY,0011700037,1610612753,13.30,15.89,15.78,13.30,17.31,12.94,0.698,0.993,6.04
25,201949,1610612748,AWAY,0011700037,1610612753,25.84,24.52,16.71,29.49,30.24,29.76,0.185,0.507,18.52
26,204020,1610612748,AWAY,0011700037,1610612753,21.86,23.94,26.42,27.38,27.16,25.99,0.181,0.543,17.95
28,203585,1610612748,AWAY,0011700037,1610612753,13.74,12.26,9.89,23.25,23.29,20.31,0.296,0.641,7.41
29,1626175,1610612748,AWAY,0011700037,1610612753,17.27,20.42,30.75,4.10,4.94,6.11,0.787,0.984,3.20
30,203482,1610612748,AWAY,0011700037,1610612753,24.70,23.44,26.18,19.70,20.45,23.02,0.257,0.545,14.49
31,1626196,1610612748,AWAY,0011700037,1610612753,20.07,23.12,23.89,32.41,34.33,33.93,0.214,0.349,20.84
32,203079,1610612748,AWAY,0011700037,1610612753,21.91,1.80,1.80,25.67,21.21,21.21,0.324,0.786,5.36
33,1628476,1610612748,AWAY,0011700037,1610612753,1.28,1.28,1.28,5.40,5.40,5.40,0.060,1.414,0.19
34,1627855,1610612748,AWAY,0011700037,1610612753,10.41,10.84,9.42,9.71,12.36,11.48,0.599,0.766,3.18
35,202355,1610612748,AWAY,0011700037,1610612753,35.92,35.29,41.82,30.88,29.46,28.20,0.161,0.237,30.89
36,1628475,1610612748,AWAY,0011700037,1610612753,16.02,16.02,16.02,3.62,3.62,3.62,0.606,1.414,1.61
37,1626159,1610612748,AWAY,0011700037,1610612753,18.21,25.85,25.79,31.31,24.45,21.21,0.272,0.570,16.59